body {
    background-color: #c3c3cb;
    color: rgb(36, 8, 196);

}
h1 {
    color: rgb(36, 8, 196);
    text-align: center;

}

p {
    color: rgb(238, 10, 10);
    text-align: center;
    font-size: 20px;
}

.Ice_Candy {
    color: rgb(238, 10, 10);
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    font-size: 20px;
}

.container {
    text-align: center;

}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button-image {
    text-align: center;
}

.myButton {
  background-color: rgb(33, 10, 238); /* Changes the background color (Hex code example) */
  color: rgb(244, 242, 242);              /* Changes the text color (White example) */
  border: none;              /* Removes the default border */
  padding: 20px;             /* Adds space inside the button */
}

label {
    display:inline-block;
    width: 350px;
}

.FOOD {
    border: 2px solid rgb(74, 74, 76);
    border-radius: 25px; /* Applies a 25px radius to all corners */
    padding: 5px;
}

.DRINKS {
    border: 2px solid rgb(74, 74, 76);
    border-radius: 25px; /* Applies a 25px radius to all corners */
    padding: 5px;
}

.FROZEN_TREATS {
    border: 2px solid rgb(74, 74, 76);
    border-radius: 25px; /* Applies a 25px radius to all corners */
    padding: 5px;
}

.SNACKS {
    border: 2px solid rgb(74, 74, 76);
    border-radius: 25px; /* Applies a 25px radius to all corners */
    padding: 5px;
}

input {
    background-color: rgb(255, 255, 255);
    width : 50px;
}

.Disclaimer {
    color: rgb(36, 8, 196);
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    font-size: 20px;
}
